body {
  font-family: Arial, sans-serif;
  background-color: #ccc;
  padding: 20px;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
  background-color: aquamarine;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border-color: #333;
}

button {
  background: linear-gradient(45deg, #ff416c, #ff4b2b); 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background: linear-gradient(45deg, #ff4b2b, #ff416c); 
  transform: scale(1.05); 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

button:focus {
  outline: 2px solid #0056b3;
}

.hidden {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus, textarea:focus {
  outline: 2px solid #007bff;
}

#formSuccessMessage {
  color: green;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #f1f1f1;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }
  
  button {
    width: 100%;
  }
}
